nav {
  display: flex;
  background-color: red;
  height: 50px;
}

nav div {
  flex-basis: 33%;
}

.content-container {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

h2 {
  font-weight: 700;
}

aside {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}


