nav {
  display: flex;
  height: 50px;
}

nav div {
  display: flex;
}

.nav-1, .nav-3 {
  flex-basis: 25%;
}

.nav-2 {
  flex-basis: 50%;
  background-color: red;
}

.search {
  /* flex-basis: 85%;  Fix this here */
}

.nav-3 {
  justify-content: end;
}

.content-container {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

h2 {
  font-weight: 700;
}

aside {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}


